*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

.container {
    margin-left: 500px;
    
}

.carousel {
    display: flex;
    height: 500px;
    padding-top: 150px;
    max-width: 900px;
}


.main-image {
    width: 76%;
    height: 100%;
    position: relative;
}

.main-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.game-text {
    position: absolute;
    bottom: 2%;
    z-index: 100;
    color: white;
    text-align: end;
    display: inline-block;
    right: 2%;
    height: 100px;
    
}

.thumbnails {
    width: 24%;
    height: 100%;
    position: relative;
}

.small-image {
    width: 100%;
    height: calc(100%/5);
    opacity: 0.8;
}

.small {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}


.btn-prev {
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    padding: 10px;
    cursor: pointer;
    position: absolute;
    z-index: 100;
    left: 50%;
    transform: translate(-50%);
    top: 2%;
}

.btn-next {
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    padding: 10px;
    cursor: pointer;
    position: absolute;
    z-index: 100;
    left: 50%;
    transform: translate(-50%);
    bottom: 2%;
}

.d-none {
    display: none;
}

.active {
    display: block;
}



